[submodule "vendor/Catch"]
	path = vendor/Catch
	url = https://github.com/philsquared/Catch
[submodule "vendor/cores"]
	path = vendor/cores
	url = https://github.com/PaulStoffregen/cores
[submodule "vendor/teensy-cmake"]
	path = vendor/teensy-cmake
	url = git://github.com/adrienthebo/teensy-cmake
[submodule "vendor/OctoWS2811"]
	path = vendor/OctoWS2811
	url = git://github.com/PaulStoffregen/OctoWS2811
[submodule "vendor/Bounce2"]
	path = vendor/Bounce2
	url = https://github.com/thomasfredericks/Bounce2
[submodule "vendor/spi"]
	path = vendor/spi
	url = https://github.com/PaulStoffregen/SPI
